/* body{
    background: url("/images/pattern-background-desktop.svg") center center/ cover no-repeat;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;

}

.main{
    background-color: white;
    
    margin-top:100px;
    margin-left: 35%;
    height: 75vh;
    width:25vw;
    border-radius: 30px;
    border:1px solid rgb(185, 185, 185)
}

.hero{
    width:100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

}
.music{
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin:0 10px;
    display: flex;
    justify-content: space-between;
}

.first{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.music img{
    height:40px;
    position: relative;
    top:1.5rem;
    left:1.5rem
}

.first p{
    margin-left:20px;
    margin-right: 20px;
    line-height: 1.5rem;
}

.annual p{
    color:blue;
    position: relative;
    bottom: 10px;;
}

h4{
   position: relative;
   top:10px;
   right:12px;
   text-decoration:underline;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top:25px;
    background-color:hsl(245, 75%, 52%);
    height:50px;
    margin: 25px 30px;
    border-radius: 15px;
    
    
   
}

.btn a{
    color: white;
    margin-top:15px;
    text-decoration: none;
    font-weight: bolder;
}

.final{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
    
}


@media only screen and (max-width:375px){
    .main{
        width:70vw;
        font-size:.7rem;
        position: relative;
        right:80px;
    }

    .annual{
        position: relative;
        top:15px;
    }

    .music{
        height: 20vh ;
    }
}

     

        
 
 */
body{
    background: url(./images/pattern-background-desktop.svg) center center/cover no-repeat;
}

 .container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-radius: 10px;
     border:1px solid rgb(73, 73, 73);
     background-color: white;
     
     
     
     
     
     }

     .container img{
         width:100%;
         border-top-right-radius: 10px;
         border-top-left-radius: 10px;

     }
.content{
    text-align: center;
   
    
    
}

.content p{
    display: block;
    margin-left:30px;
    margin-right: 30px;
    font-size: 15px;
    text-align: center;
    overflow: hidden;
   
}

.year{
    display: flex;
    justify-content: space-between;
    background-color:hsl(225, 100%, 98%);
    border-radius: 20px; 
    font-size: 13px;
    
    
}

.year img{
    height:60px;
    width:50px;
    margin-top: 10px;
    margin-left: 10px;
}
.year p{
    margin-top:30px;
    margin-right: 10px;
    margin-right:30px;
}

.years p{
    margin-top: 10px;
}

.years{
    margin-right: 40px;
    width:100%;
   
}

.years h2{
    margin-bottom: 1px;
} 

.btn{
    display: block;
    margin-top:25px;
    background-color:hsl(245, 75%, 52%);
    height:50px;
    margin: 25px 30px;
    border-radius: 15px;
    padding-left: 80px;
    padding-right: 80px;
    

}

.btn a{
    display: block;
    margin-top:15px;
    text-decoration: none;
    color: white;
} 


@media screen and (max-width:425px) and (min-width:375px){

    .container{
        
    }
    
}

@media screen and (max-width:768px) and (min-width:426px){

    .container{
        margin-left: 200px;
        margin-right: 200px;
    }
    
}
@media screen and (max-width:1024px) and (min-width:769px){

    .container{
        margin-left: 300px;
        margin-right: 300px;
    }
    
}

@media screen and (max-width:1440px) and (min-width:1024px){

    .container{
        
    }
    
}

@media screen and (min-width:1440px) {

    .container{
        margin-left: 500px;
        margin-right: 500px;
    }
    
}
